:root{
    --primary-color: tomato;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    font-size: 2rem;
    z-index: 100;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    top: 80px;
    left: 80px;
}

.search-container{
    position: absolute;
    z-index: 100;
    top: 130px;
    left: 100px;
    width: 300px;
    height: 50px;
    background: #454e53;
    border-radius: 50px;
    display: flex;
}

.search-container .search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search i{
    font-size: 1.2rem;
    color: white;
}

.search-container input{
    width: 100%;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    color: white;
}

.search-container input:focus{
    outline: none;
}


/* Store List  */

.store-list-container{
    position: absolute;
    background: white;
    width: 300px;
    z-index: 100;
    top: 200px;
    left: 100px;
    border-radius: 20px;
    bottom: 20px;
    display: flex;
}

.stores-list{
    padding: 0 15px;
    overflow-y: scroll;
    flex-grow: 1;
}

.store-address{
    font-size: 1.2rem;
    color: #514c4c;
    margin-top: 20px;
}

.store-container{
    /* padding: 0 15px; */
    border-bottom: 1px solid #979797;
    cursor: pointer;
}

.store-container:last-child{
    border: none;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    border: 7px solid rgba(0, 0, 0, .2);
}   

::-webkit-scrollbar-thumb{
    background-color: white;
}

.store-container-background{
    display: flex;
    padding: 0 8px;
    margin: 10px 0;
    border-radius: 18px;
    transition: all .5s ease;
}

.store-container-background:hover{
    background-color: #ccc;
}

.store-info-container{
    flex-grow: 1;
}

.store-address span{
    display: block;
}

.store-phone{
    color: #85adad;
    margin-top: 10px;
    margin-bottom: 10px;
}

.store-phone-number{
    color: #b5adad;
    margin-top: 10px;
    margin-bottom: 10px;
}

.store-number-container{
    display: flex;
    align-items: center;
}

.store-number{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #454e53;
    color: #b5adad;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

